<h3 class="bd_title">Здесь можно изменить перевод для любого  слова из базы данных</h3>
<div class="row">
    <div class="input-field col s12 formdiv">
        <form action="/edit" method="POST">
            <p class="form_p">Здесь можно изменить перевод слова в базе данных, для этого необходимо ввести его в строку и нажать изменить</p>
            <input id="testInput" name="oEL" type="text" class="validate">
            <label class="label_bd" for="oEL">Добавить уникальное значение в базу данных</label>
            </br>
            <button type="submit" class="waves-effect waves-light btn-small">Добавить</button>

        </form>