<h3 class="bd_title">База данных:</h3>

<div class="table_wrap">
    <div class="ru-wrap">
        {{#if ruArr.length}}
        {{#each ruArr}}
            <div class="ru">{{this}}</div>
        {{/each}}
        {{/if}}
    </div>
    <div class="eng-wrap">
        {{#if engArr.length}}
        {{#each engArr}}
            <div class="eng">{{this}}</div>
        {{/each}}
        {{/if}}
    </div>

</div>